body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}
.grid-container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 102, 116);
    margin: 20px;
    padding: 300px;
    border-radius: 10px;
    height: 1px;
    width: 1px;
}

.setting-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin: 0px;
    background-color: rgb(96, 102, 116);
}


.text{
    font-weight: 800;
    font-size: xx-large;
    width: 200px;
}

div:not(.grid-container,.text,.button-container){
    border: 2px solid;
}
button{
    height: 50px;
    width: 150px;
    border-radius: 10px;

}
