body {
    display: flex;
    height: 100vh;
    background-color: rgb(17, 24, 39);
}
.grid-container{
    width: 320px;
    height: 320px;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aliceblue;
    
}

div:not(.grid-container){
    height: 16px;
    width: 16px;
    border: 2px solid;
}
